<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <%= @cocktail.name %>
  <% @cocktail.doses.each do |dose| %>
    <p><%= dose.description %></p>
  <% end %>
</p>
<%= link_to 'Add Dose', new_cocktail_dose_path(@cocktail) %>
<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
